.ToDo{
    height:100vh;
    width:100vw;
    background-color: white;
}

.Rightside{
    background-color: white;
    margin: 40px 20px 20px 20px; 
    display: flex;
    flex-direction: column;
    width: 75vw;
   
  
    
}
.headerprofile{
    display: flex;
}
.profilename{
    font-size: 1.2rem;
    font-weight: 600;
    color:gray;
    margin-top: 10px;
}
.username{
    display: flex;
    margin-left: auto;
    margin-bottom: 20px;
    align-items: center;
}
.username p{
    font-size: 1.2rem;
    font-weight: 600;
    color:gray;
}
.coming_soon{
    display: flex;
    justify-content: center;
    text-align: center;
 
    
}
.coming_soon h1{ 
    margin-top: 30vh;
    font-size: 5rem;
    font-weight: 900;
    color:lightgray;
}